.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
npm/**
.github/**
.dev/**
.shadowenv.d/**
.gitignore
.yarnrc
.prettierignore
.prettierrc.json
esbuild.js
dev.yml
CLAUDE.md
vsc-extension-quickstart.md
yarn.lock
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
